<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="accordion.css" type="text/css" media="all" />
	<title>Accordion</title>
</head>
<body>
	<section class="container">
		<section class="accordion-itm">
		 <section class="accordion">
	<button class="accordion-btn" data-target="accordion1">Click on here</button>
	<section class="accordion-content" id="accordion1">
		<h2>It's a basic accordion</h2>
		<p>It's accordion text</p>
	</section>
		</section>
		 <section class="accordion">
	<button class="accordion-btn" data-target="accordion2">Click on here</button>
	<section class="accordion-content" id="accordion2">
		<h2>It's a basic accordion</h2>
		<p>It's accordion text</p>
	</section>
		</section>	
	</section>
	</section>
</body>
<script src="accordion.js" type="text/javascript" charset="utf-8"></script>
</html>