<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sign In Form</title>
</head>
<body>
	<section class="output">
		<button class="cross-btn">×</button>
		<p>Form submitted successfully!</p>
	</section>
<section class="take-info">
	<form>
	<h2>Sign Up form</h2>		
 <div class="input-group">
 <input type="text" id="f-name" required placeholder="" class="inp">
 <label for="f-name">First name</label>
 </div>
 <div class="input-group">
 <input type="text" id="l-name" required placeholder="" class="inp">
 <label for="l-name">Last name</label>
 </div>
 <div class="input-group">
	<input type="email" id="email" placeholder="" required class="inp">
	<label for="email">Email</label>
 </div>
 <div class="input-group">
	<input type="tel" id="phone-num" placeholder="" required class="inp">
	<label for="phone-num">Phone number</label>
 </div>
 <div class="input-group">
 	<input type="address" id="address" placeholder="" required class="inp">
 	<label for="address">Address</label>
 </div>
 <p class="err-msg"></p>
	<button class="submit">Submit</button>
	</form>
</section>
</body>
</html>